<div class="row each-row" id="groop-<%= g.id %>">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10">
				<div class="nickname">
					<%= link_to groop_path(g) do %>
						<%= g.nickname %>
					<% end %>
				</div>
			</div>
			<div class="col-xs-2">
				<%= link_to edit_groop_path(g), class: 'btn pull-right grey-color' do %>
					<small><i class="fa fa-pencil-square-o" aria-hidden="true"></i></small>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<%= link_to groop_path(g) do %>
					<small><%= g.friends.map(&:name).to_sentence %></small>
				<% end %>
			</div>
			<div class="col-xs-4">
				<div class="last-interaction">
					<div class="pull-right">
						<small>Last</small> <br>
						<small>
							<% if g.interactions.any? %>
								<%= g.latest_interaction.to_icon.html_safe %>
								<%= g.latest_interaction.date.strftime("%x") %>
							<% else %>
								-
							<% end %>
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="btn-group btn-group-justified">
  	<%= link_to "#call-form-#{g.id}", class: "btn", data: { toggle: 'collapse' } do %>
  		<small>
	  		<i class="fa fa-phone" aria-hidden="true"></i><br>
	  		<!-- <span class="caption">Call</span> -->
  		</small>
  	<% end %>
  	<%= link_to "#message-form-#{g.id}", class: "btn", data: { toggle: 'collapse' } do %>
  		<small>
	  		<i class="fa fa-envelope" aria-hidden="true"></i><br>
	  		<!-- <span class="caption">Email</span> -->
  		</small>
  	<% end %>
  	<%= link_to "#hang-form-#{g.id}", class: "btn", data: { toggle: 'collapse' } do %>
  		<small>
	  		<i class="fa fa-handshake-o" aria-hidden="true"></i><br>
	  		<!-- <span class="caption">Hang!</span> -->
  		</small>
  	<% end %>
	</div>

	<% ["call", "message", "hang"].each do |type| %>
		<%= render 'groops/collapse_form', g: g, type: type %>
	<% end %>
</div>
